h1{position: relative;}
h1:after{
    content: "";
    position: absolute;
    display: block;
    content: "";
    width: 70px;
    height: 4px;
    background-color: #e86404;
    margin: 0px;
    border: none;
    margin-top: 5px;
    left: 0px;
   
}